body {
  font-family: 'Roboto', sans-serif;
}

:root {
  font-family: "Roboto";
  font-size: 15px;
  scroll-behavior: smooth;

}

.logo {
  font-family: "Roboto";
}

input,
button {
  outline: none;
}

.container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

input,
button,
textarea {
  border: none;
  outline: none;
}

.dark {
  color: #fff;
}




