body {
  font-family: 'Roboto', sans-serif;
}

:root {
  font-family: "Roboto";
  font-size: 15px;
  scroll-behavior: smooth;

}

.logo {
  font-family: "Roboto";
}

input,
button {
  outline: none;
}

.container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

input,
button,
textarea {
  border: none;
  outline: none;
}

.dark {
  color: #fff;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}


